/*
Estilo general
*/

*{
    margin: auto;
    padding: auto;
    
}


body{margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#FFFFFF; background-color:#1E1E1E;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; width:100%; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:0%;}

a{outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, hgroup, nav, section{display:block; margin:0; padding:0;}

#footer{
    background-color: #333333;
    width: auto;
}

/*----------------------------------------------MENU DESPLEGABLE-------------------------------------*/



nav {
	
        float: right;
        background:#333333;
	margin-top:0px;
	position: relative;
}

nav ul {
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
}

nav > ul > li {
	float:left;
}

nav ul li a {
	text-decoration:none;
	color:#fff; /*COLORES MENUS*/
	display:block;
	padding:10px 20px; /*alto y andho menu*/
}

nav ul li a:hover {
    background:#3498db;
        
        /*Parte de animacion de seleccion*/
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

nav > ul > li:hover div {
	display:table;
}

/*Submenu*/
nav ul li div {
	width:100%;
	position: absolute;
	left:0;
	background:#DDDDDD; /*fondo item menus*/
	box-sizing:border-box;
	display:none;    
}

nav ul li div ul{
	width:20%;
	display:table-cell;
	border-right:1px solid rgba(255,255,255,.5);
	box-sizing:border-box;   
}

nav ul li div ul:last-child {
	border:none;
}

nav ul li div ul .titulo {
	background:#269abc;
	color:#fff; 
}

nav ul li div ul .titulo a {
	color:#fff;
	padding:10px 20px;     
}

.titulo.azul {background:#3498db;}
.titulo.verde{background:#27ae60;}
.titulo.naranja {background:#e67e22;}
.titulo.rojo {background:#c0392b; color:#000;}

nav ul li div ul .titulo a:hover {
	background:#27ae60;
}

nav ul li div ul li a {
	color:#000;
}

nav ul li div ul li a:hover {
	color:#fff;
}

/*----------------------------------------------MENU DESPLEGABLE-------------------------------------*/

/*----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{display:block; width:100%; text-align:left;}

.row1{color:#C0BAB6; background-color:#333333;}
.row2{color:#979797; background-color:#FFFFFF;}
.row3, .row3 a{color:#FFFFFF; background-color:#333333;}




div.flash{
    display:block;
    width:100%; 
    text-align:center;
    background-color: #1E1E1E;
}

/*----------------------------------------------Generalise-------------------------------------*/

#header, #container{display:block; margin:0 auto; width:960px;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:24px; font-weight:normal; font-style:normal; line-height:normal;}


/*----------------------------------------------Header-------------------------------------*/

#header{}

/*----------------------------------------------Content Container-------------------------------------*/

#container{}

/*--Content--*/

#container #col1{display:block; float:left; width:630px; color:#6C6E72; background-color:#DDDDDD;}
#container #col1 .box1{display:block; width:630px; color:#FFFFFF; background-color:#666666; overflow:hidden;}

#container #col2{display:block; float:right; width:300px; color:#979797; background-color:#FFFFFF;}

/*----------------------------------------------Footer-------------------------------------*/





